    .header-menu {
        background-color: #122a37;
        height: 120px;
        width: 100%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        border: 1px solid #19313d;
    }
    
    .flex {
        display: flex;
        align-items: center;
    }
    
    .menu-img1 {
        margin-right: 10px;
    }
    
    .menu-icon {
        display: flex;
        align-items: center;
        padding-right: 30px;
    }
    
    .search {
        display: flex;
        width: 145px;
        height: 45px;
        color: #767e8a;
        border: 1px solid #767e8a;
        align-items: center;
        padding: 0 20px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .search-input {
        background-color: #122a37;
        border: 1px #122a37;
        width: 70px;
        color: #767e8a;
        outline: none;
        font-size: 15px;
    }
    
    .search-icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
    }
    
    .create {
        border: 1px solid #767e8a;
        width: 160px;
        height: 45px;
        color: #767e8a;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 20px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    
    .create-text {
        margin-bottom: 4px;
    }
    
    .noti-icon {
        padding-left: 40px;
    }
    
    .noti {
        display: flex;
    }
    
    .noti-position {
        position: relative;
    }
    
    .count {
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #e74c3c;
        color: #ffffff;
        border-radius: 100%;
        left: 60px;
    }
    
    .count span {
        font-size: 12px;
        vertical-align: top;
        text-align: center;
    }
    
    .profil {
        display: flex;
        align-items: center;
        padding-left: 40px;
    }
    
    .prof-img {
        border: 1px solid #767e8a;
        border-radius: 100%;
        margin-right: 8px;
    }
    
    @media (max-width:992px) {
        .header-menu {
            background-color: #122a37;
            height: 120px;
            width: 100%;
            padding: 30px;
            display: flex;
            border: 1px solid #19313d;
        }
        .menu-img1 {
            visibility: hidden;
        }
        .flex {
            display: flex;
            align-items: center;
        }
        .menu-icon {
            display: none;
        }
    }
    
    @media(max-width:320px) {
        .header-menu {
            display: flex;
            height: 100%;
            flex-direction: column;
        }
        .search {
            display: flex;
            width: 260px;
            margin-bottom: 20px;
        }
        .profil {
            display: none;
        }
    }